<?xml version="1.0"?>
<!-- 这是 X1 机器人的无皮肤版本。 -->
<robot name="X1">
<mujoco>
    <compiler meshdir="../meshes/" balanceinertia="true" discardvisual="false"/>
</mujoco>
    <link name="pelvis_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/pelvis_link.STL" />
        </geometry>
        <material>
          <color rgba="1.00000000 1.00000000 1.00000000 1.00000000"/>
        </material>
      </visual>
      <inertial>
        <origin xyz="0 0 0.015" rpy="0 0 0" />
        <mass value="0.0094248" />
        <inertia ixx="0.0000009" ixy="0" ixz="0" iyy="0.0000009" iyz="0" izz="0.0000005" />
      </inertial>
    </link>

    <link name="left_hip_yaw_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_hip_yaw_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0.08 0.08" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.05" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.009751 0.0490233 0.0680802" rpy="0 0 0" />
        <mass value="1.1064454" />
        <inertia ixx="0.0074745" ixy="-0.0005638" ixz="0.0002693" iyy="0.0051775" iyz="0.0011497" izz="0.0067444" />
      </inertial>
    </link>

    <link name="left_hip_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_hip_roll_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 -0.013 -0.04" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.04" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0209872 -0.0039306 -0.0711852" rpy="0 0 0" />
        <mass value="4.2353287" />
        <inertia ixx="0.0185508" ixy="-0.0016121" ixz="-0.0027303" iyy="0.0211229" iyz="0.0003076" izz="0.0112964" />
      </inertial>
    </link>

    <link name="left_hip_pitch_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_hip_pitch_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.15" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.05" length="0.3" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0004112 0.0256716 -0.1191107" rpy="0 0 0" />
        <mass value="2.2695742" />
        <inertia ixx="0.0151593" ixy="-0.0000064" ixz="0.0000723" iyy="0.0144277" iyz="-0.0004549" izz="0.0029821" />
      </inertial>
    </link>

    <link name="left_knee_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_knee_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.18" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.05" length="0.25" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0022143 0.0000086 -0.110448" rpy="0 0 0" />
        <mass value="1.0881843" />
        <inertia ixx="0.0134316" ixy="0" ixz="-0.0002131" iyy="0.0136571" iyz="-0.000001" izz="0.0005185" />
      </inertial>
    </link>

    <link name="left_ankle_pitch_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_ankle_pitch_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 -0.001 -0.03" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.035" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.00270709 -0.00199973 -0.02164649" rpy="0 0 0" />
        <mass value="0.34756029" />
        <inertia ixx="0.0002854" ixy="0" ixz="0.00003181" iyy="0.00036491" iyz="0" izz="0.00017515" />
      </inertial>
    </link>

    <link name="left_ankle_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_ankle_roll_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.06 0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.06 -0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.04 0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.14 0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.04 -0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.14 -0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.16 -0.0 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0505158 0.0000336 -0.013625" rpy="0 0 0" />
        <mass value="1.2954353" />
        <inertia ixx="0.0011621" ixy="0.0000027" ixz="-0.0001878" iyy="0.0051377" iyz="0.0000003" izz="0.0054305" />
      </inertial>
    </link>

    <link name="right_hip_yaw_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_hip_yaw_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 -0.08 0.08" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.05" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0082698 -0.0088217 0.0494496" rpy="0 0 0" />
        <mass value="1.767803" />
        <inertia ixx="0.0076428" ixy="-0.0002997" ixz="-0.0000613" iyy="0.003217" iyz="-0.0004937" izz="0.0087272" />
      </inertial>
    </link>

    <link name="right_hip_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_hip_roll_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0.013 -0.04" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.04" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0210196 0.0039656 -0.0718356" rpy="0 0 0" />
        <mass value="4.2385313" />
        <inertia ixx="0.0185782" ixy="0.0016121" ixz="-0.0027368" iyy="0.0211538" iyz="-0.0000622" izz="0.0112963" />
      </inertial>
    </link>

    <link name="right_hip_pitch_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_hip_pitch_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.15" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.05" length="0.3" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0004112 -0.0256716 -0.1191107" rpy="0 0 0" />
        <mass value="2.2695742" />
        <inertia ixx="0.0151553" ixy="0.0000083" ixz="0.0000683" iyy="0.0144277" iyz="0.0004541" izz="0.0029861" />
      </inertial>
    </link>

    <link name="right_knee_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_knee_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.18" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.05" length="0.25" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0022143 0.0000086 -0.110448" rpy="0 0 0" />
        <mass value="1.0881843" />
        <inertia ixx="0.0134316" ixy="0" ixz="-0.0002131" iyy="0.0136571" iyz="-0.000001" izz="0.0005185" />
      </inertial>
    </link>

    <link name="right_ankle_pitch_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_ankle_pitch_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 -0.001 -0.03" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.035" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.00270708 -0.00200027 -0.02164649" rpy="0 0 0" />
        <mass value="0.34756014" />
        <inertia ixx="0.0002854" ixy="0" ixz="0.00003181" iyy="0.00036491" iyz="0" izz="0.00017515" />
      </inertial>
    </link>

    <link name="right_ankle_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_ankle_roll_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.06 0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.06 -0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.04 0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.14 0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.04 -0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.14 -0.03 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.16 -0.0 -0.035" rpy="0 -1.5707963 0" />
        <geometry>
          <sphere radius="0.008" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0505149 0.0000336 -0.0136249" rpy="0 0 0" />
        <mass value="1.2954388" />
        <inertia ixx="0.0011621" ixy="0.0000027" ixz="-0.0001878" iyy="0.0051377" iyz="0.0000003" izz="0.0054305" />
      </inertial>
    </link>

    <link name="waist_yaw_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/waist_yaw_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <inertial>
        <origin xyz="0 0 0.0341417" rpy="0 0 0" />
        <mass value="1.5518277" />
        <inertia ixx="0.0022131" ixy="0.0000019" ixz="0" iyy="0.002196" iyz="0.0000004" izz="0.0038356" />
      </inertial>
    </link>

    <link name="torso_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/torso_link.STL" />
        </geometry>
        <material>
          <color rgba="0.89804314 0.91372941 0.92549412 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0.17" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.09" length="0.35" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0097957 -0.0002664 0.1592436" rpy="0 0 0" />
        <mass value="6.6276054" />
        <inertia ixx="0.1053469" ixy="-0.0000004" ixz="0.0002835" iyy="0.0874588" iyz="-0.0000699" izz="0.0314578" />
      </inertial>
    </link>

    <link name="head_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/head_link.STL" />
        </geometry>
        <material>
          <color rgba="0.69412157 0.69412157 0.69412157 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0205728 0 0.2" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.08" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0339218 -0.0002907 0.1725151" rpy="0 0 0" />
        <mass value="2.717377" />
        <inertia ixx="0.0242574" ixy="0.00004" ixz="-0.0019564" iyy="0.0246438" iyz="0.0000075" izz="0.008232" />
      </inertial>
    </link>

    <link name="left_shoulder_pitch_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_shoulder_pitch_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.007 0.01 0" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.025" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0140494 0.0332971 -0.0033726" rpy="0 0 0" />
        <mass value="0.1079719" />
        <inertia ixx="0.0001022" ixy="0.0000003" ixz="-0.0000001" iyy="0.0001302" iyz="0.0000047" izz="0.0001276" />
      </inertial>
    </link>

    <link name="left_shoulder_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_shoulder_roll_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.05" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.02" length="0.1" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.000129 0.0002548 -0.043097" rpy="0 0 0" />
        <mass value="0.9198444" />
        <inertia ixx="0.0016281" ixy="0.0000001" ixz="-0.0000038" iyy="0.0016937" iyz="0.0000091" izz="0.0003884" />
      </inertial>
    </link>

    <link name="left_shoulder_yaw_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_shoulder_yaw_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.005 0 -0.04" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.02" length="0.07" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.005582 0.0001858 -0.086314" rpy="0 0 0" />
        <mass value="0.5339936" />
        <inertia ixx="0.0007568" ixy="-0.0000005" ixz="0.0000687" iyy="0.000707" iyz="0.0000018" izz="0.0002796" />
      </inertial>
    </link>

    <link name="left_elbow_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_elbow_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.05 0 -0.005" rpy="0 -1.5707963 0" />
        <geometry>
          <cylinder radius="0.02" length="0.08" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0530258 0.0000074 -0.0107229" rpy="0 0 0" />
        <mass value="0.3807952" />
        <inertia ixx="0.0001826" ixy="-0.0000001" ixz="-0.0000111" iyy="0.0003979" iyz="0" izz="0.0004433" />
      </inertial>
    </link>

    <link name="left_hand_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/left_hand_roll_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.12 0.00 0" rpy="-1.5707963 0 -1.5707963" />
        <geometry>
          <cylinder radius="0.02" length="0.2" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.099408 -0.0009679 0.0023607" rpy="0 0 0" />
        <mass value="0.4360043" />
        <inertia ixx="0.0002708" ixy="-0.0000109" ixz="-0.0001251" iyy="0.0040218" iyz="-0.0000042" izz="0.003923" />
      </inertial>
    </link>

    <link name="right_shoulder_pitch_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_shoulder_pitch_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.007 -0.01 0" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.025" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.01413 -0.0357773 -0.0037841" rpy="0 0 0" />
        <mass value="0.1079715" />
        <inertia ixx="0.0001022" ixy="-0.0000003" ixz="-0.0000001" iyy="0.0001302" iyz="-0.0000047" izz="0.0001276" />
      </inertial>
    </link>

    <link name="right_shoulder_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_shoulder_roll_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.05" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.02" length="0.1" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0002042 -0.0002547 -0.0430969" rpy="0 0 0" />
        <mass value="0.9198418" />
        <inertia ixx="0.0016281" ixy="0.0000001" ixz="0.0000006" iyy="0.0016937" iyz="-0.0000091" izz="0.0003883" />
      </inertial>
    </link>

    <link name="right_shoulder_yaw_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_shoulder_yaw_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.005 0 -0.04" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.02" length="0.07" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.005582 0.0001858 -0.086314" rpy="0 0 0" />
        <mass value="0.5339937" />
        <inertia ixx="0.0007568" ixy="-0.0000005" ixz="0.0000687" iyy="0.000707" iyz="0.0000018" izz="0.0002796" />
      </inertial>
    </link>

    <link name="right_elbow_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_elbow_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.05 0 -0.005" rpy="0 -1.5707963 0" />
        <geometry>
          <cylinder radius="0.02" length="0.08" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0530338 0.0000074 -0.0107229" rpy="0 0 0" />
        <mass value="0.3807952" />
        <inertia ixx="0.0001826" ixy="-0.0000001" ixz="-0.0000112" iyy="0.0003976" iyz="0" izz="0.000443" />
      </inertial>
    </link>

    <link name="right_hand_roll_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/right_hand_roll_link.STL" />
        </geometry>
        <material>
          <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.12 0.0 0" rpy="1.5707963 0 1.5707963" />
        <geometry>
          <cylinder radius="0.02" length="0.2" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.099408 -0.0009679 0.0023607" rpy="0 0 0" />
        <mass value="0.4360043" />
        <inertia ixx="0.0002708" ixy="-0.0000109" ixz="-0.0001251" iyy="0.0040218" iyz="-0.0000042" izz="0.003923" />
      </inertial>
    </link>

  <joint name="left_hip_yaw_joint" type="revolute">
    <parent link="pelvis_link" />
    <child link="left_hip_yaw_link" />
    <origin xyz="0 0 -0.083" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.518" upper="0.518" effort="50" velocity="22.1" />
  </joint>

  <joint name="left_hip_roll_joint" type="revolute">
    <parent link="left_hip_yaw_link" />
    <child link="left_hip_roll_link" />
    <origin xyz="0.006 0.1175 0.0315" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.175" upper="0.96" effort="100" velocity="11.5079" />
  </joint>

  <joint name="left_hip_pitch_joint" type="revolute">
    <parent link="left_hip_roll_link" />
    <child link="left_hip_pitch_link" />
    <origin xyz="0 -0.026 -0.123" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.524" upper="1.047" effort="212" velocity="6.28" />
  </joint>

  <joint name="left_knee_joint" type="revolute">
    <parent link="left_hip_pitch_link" />
    <child link="left_knee_link" />
    <origin xyz="0 0 -0.3247789" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-1.745" upper="0.087" effort="93" velocity="5.0855" />
  </joint>

  <joint name="left_ankle_pitch_joint" type="revolute">
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <origin xyz="0 0 -0.3595" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-1.082" upper="1.082" effort="64.8" velocity="7.4176" />
  </joint>

  <joint name="left_ankle_roll_joint" type="revolute">
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <origin xyz="0 -0.002 -0.059" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.664" upper="0.664" effort="20" velocity="6.5236" />
  </joint>

  <joint name="right_hip_yaw_joint" type="revolute">
    <parent link="pelvis_link" />
    <child link="right_hip_yaw_link" />
    <origin xyz="0 0 -0.083" rpy="0 0 0" />
    <axis xyz="0 0 -1" />
    <limit lower="-0.785" upper="0.785" effort="50" velocity="22.1" />
  </joint>

  <joint name="right_hip_roll_joint" type="revolute">
    <parent link="right_hip_yaw_link" />
    <child link="right_hip_roll_link" />
    <origin xyz="0.006 -0.1175 0.0315" rpy="0 0 0" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.175" upper="0.96" effort="100" velocity="11.5079" />
  </joint>

  <joint name="right_hip_pitch_joint" type="revolute">
    <parent link="right_hip_roll_link" />
    <child link="right_hip_pitch_link" />
    <origin xyz="0 0.026 -0.123" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.524" upper="1.047" effort="212" velocity="6.28" />
  </joint>

  <joint name="right_knee_joint" type="revolute">
    <parent link="right_hip_pitch_link" />
    <child link="right_knee_link" />
    <origin xyz="0 0 -0.3247789" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-1.745" upper="0.087" effort="93" velocity="5.0855" />
  </joint>

  <joint name="right_ankle_pitch_joint" type="revolute">
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <origin xyz="0 0 -0.3595" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-1.082" upper="1.082" effort="64.8" velocity="7.4176" />
  </joint>

  <joint name="right_ankle_roll_joint" type="revolute">
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <origin xyz="0 -0.002 -0.059" rpy="0 0 0" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.664" upper="0.664" effort="20" velocity="6.5236" />
  </joint>

  <joint name="waist_yaw_joint" type="revolute">
    <parent link="pelvis_link" />
    <child link="waist_yaw_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1" upper="1" effort="10" velocity="3.14" />
  </joint>

  <joint name="torso_joint" type="fixed">
    <parent link="waist_yaw_link" />
    <child link="torso_link" />
    <origin xyz="0.0003004 0 0.071" rpy="0 0 0" />
  </joint>

  <joint name="head_joint" type="fixed">
    <parent link="torso_link" />
    <child link="head_link" />
    <origin xyz="-0.0102004 0 0.3475" rpy="0 0 0" />
  </joint>

  <joint name="left_shoulder_pitch_joint" type="revolute">
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <origin xyz="-0.0102 0.11097 0.3193" rpy="0.1640609 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-2.7925268" upper="2.7925268" effort="18" velocity="5.2" />
  </joint>

  <joint name="left_shoulder_roll_joint" type="revolute">
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <origin xyz="0 0.06445 0" rpy="-0.1640609 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.1963495" upper="2.268928" effort="10" velocity="5.2" />
  </joint>

  <joint name="left_shoulder_yaw_joint" type="revolute">
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <origin xyz="0.0001 0 -0.11859" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-2.1973695" upper="2.1973695" effort="10" velocity="5.2" />
  </joint>

  <joint name="left_elbow_joint" type="revolute">
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <origin xyz="0.0105 0 -0.10494" rpy="0 1.5707963 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.5236" upper="1.5708" effort="10" velocity="5.2" />
  </joint>

  <joint name="left_hand_roll_joint" type="revolute">
    <parent link="left_elbow_link" />
    <child link="left_hand_roll_link" />
    <origin xyz="0.105 0 -0.0105" rpy="0 0 0" />
    <axis xyz="-1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="2.2" velocity="3.14" />
  </joint>

  <joint name="right_shoulder_pitch_joint" type="revolute">
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <origin xyz="-0.0102 -0.11097 0.3193" rpy="-0.1640609 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-2.7925268" upper="2.7925268" effort="18" velocity="5.2" />
  </joint>

  <joint name="right_shoulder_roll_joint" type="revolute">
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <origin xyz="0 -0.06445 0" rpy="0.1640609 0 0" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.1963495" upper="2.268928" effort="10" velocity="5.2" />
  </joint>

  <joint name="right_shoulder_yaw_joint" type="revolute">
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <origin xyz="-0.0002 0 -0.11859" rpy="0 0 0" />
    <axis xyz="0 0 -1" />
    <limit lower="-2.1973695" upper="2.1973695" effort="10" velocity="5.2" />
  </joint>

  <joint name="right_elbow_joint" type="revolute">
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <origin xyz="0.0105 0 -0.10494" rpy="0 1.5707963 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.5236" upper="1.5708" effort="10" velocity="5.2" />
  </joint>

  <joint name="right_hand_roll_joint" type="revolute">
    <parent link="right_elbow_link" />
    <child link="right_hand_roll_link" />
    <origin xyz="0.105 0 -0.0105" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="2.2" velocity="3.14" />
  </joint>

</robot>
